<h1>Componente de coches</h1>
<form #formCoche="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <label for="">Nombre:</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre">
    </p>
    <p>
        <label for="">Cilindraje:</label>
        <input type="text" name="cilindraje" #cilindraje="ngModel" [(ngModel)]="coche.cilindraje">
    </p>
    <p>
        <label for="">Color:</label>
        <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color">
    </p>
    <input type="submit" value="Guardar">
</form>