<!--form>
    <div  class="form-row">
      <div *ngFor="let value of formulario; let i = index" [ngSwitch]="formulario[i].elemento" class="form-group col-md-6">
        
        <div *ngSwitchCase="'input'"  class="form-group col-md-12">
          <div *ngIf="formulario[i].type != 'checkbox'">
            <label for="{{value.name}}" >{{value.label}}</label>
            <input name="{{value.name}}" id="{{value.name}}" class="form-control" type="{{value.type}}" required="{{value.requred}}" />
          </div>
          <div *ngIf="formulario[i].type == 'checkbox'" class="form-check">
            <br><br>
            <input name="{{value.name}}" id="{{value.name}}"  type="{{value.type}}" required="{{value.requred}}" class="form-check-input" />
            <label for="{{value.name}}" class="form-check-label">{{value.label}}</label>
          </div>
        </div>
        <div *ngSwitchCase="'select'" class="form-group col-md-12">
          <label for="{{value.name}}" >{{value.label}}</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let opcion of value.option">{{opcion}}</option>
          </select>
        </div>
        <div *ngSwitchCase="'textarea'" class="form-group col-md-12">
          <label for="exampleFormControlTextarea1">value.name</label>
          <textarea class="form-control" id="value.name" rows="4"></textarea>
        </div>
        <div *ngSwitchCase="'radio'" class="form-group col-md-12">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">{{value.name}}</legend>
            <div class="col-sm-10">
              <div *ngFor="let opcion of value.option; let i = index"  class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="{{value.values[i]}}" checked>
                <label class="form-check-label" for="gridRadios1">
                  {{opcion}}
                </label>
              </div>
              
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'selectm'" class="form-group">
           
            <label for="{{value.name}}" >{{value.label}}</label>
          <select multiple class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let opcion of value.option" >{{opcion}}</option>
          
          </select>
        </div>
      </div>


      

  
      <br>
    </div>
    <br>
    <button type="submit" class="btn btn-primary"  (Click)="guardar()" >Submit</button>
    <br>
    <br>
    <br>

  </form-->       

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Complete form validation</h4>
          <form class="cmxform" id="signupForm" method="get" action="#" novalidate="novalidate">
            <fieldset>
              <div class="form-group has-danger">
                <label for="firstname">Firstname</label>
                <input id="firstname" class="form-control form-control-danger" name="firstname" type="text" aria-invalid="true"><label id="firstname-error" class="error mt-2 text-danger" for="firstname">Please enter your firstname</label>
              </div>
              <div class="form-group has-danger">
                <label for="lastname">Lastname</label>
                <input id="lastname" class="form-control form-control-danger" name="lastname" type="text"><label id="lastname-error" class="error mt-2 text-danger" for="lastname">Please enter your lastname</label>
              </div>
              <div class="form-group has-danger">
                <label for="username">Username</label>
                <input id="username" class="form-control form-control-danger" name="username" type="text"><label id="username-error" class="error mt-2 text-danger" for="username">Please enter a username</label>
              </div>
              <div class="form-group has-danger">
                <label for="password">Password</label>
                <input id="password" class="form-control form-control-danger" name="password" type="password"><label id="password-error" class="error mt-2 text-danger" for="password">Please provide a password</label>
              </div>
              <div class="form-group has-danger">
                <label for="confirm_password">Confirm password</label>
                <input id="confirm_password" class="form-control form-control-danger" name="confirm_password" type="password"><label id="confirm_password-error" class="error mt-2 text-danger" for="confirm_password">Please provide a password</label>
              </div>
              <div class="form-group has-danger">
                <label for="email">Email</label>
                <input id="email" class="form-control form-control-danger" name="email" type="email"><label id="email-error" class="error mt-2 text-danger" for="email">Please enter a valid email address</label>
              </div>
              <input class="btn btn-primary" type="submit" value="Submit">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>